@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root{
    --main-bg-color:#2874f0;
}

*{
    padding: 0;
    margin: 0;
}

header{
    background-color: var(--main-bg-color);
    font-family: 'Lato', sans-serif;
}

nav{
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    accent-color: white;
    width: 150px;
    padding: 0 25px;
}

nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li{
    list-style: none;
    padding: 0 23px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    font-weight: bolder;
}

.search{
    display: flex;
    align-items: center;
}

.search input{
    width: 30vw;
    height: 27px;
    border-radius: 5px;
    margin: 0 56px 0 56px;
    padding: 0 12px;
}

.search button{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.slider{
    width: 80vw;
    aspect-ratio: 1600 / 700;
    margin: 12px auto;
    overflow: hidden;
}
.card{
    max-width: 91vw;
    margin: auto;
}

.cards{
    display: flex;
    /* justify-content: center; */
}

.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
}

.card h2{
    font-family: 'Lato',sans-serif;
}

.container{
    min-height: calc(100vh - 58px - 12vh);
}


.card-item img{
    width: 160px;
    aspect-ratio: 1/1;
}


footer{
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Lato', sans-serif;
}