/* ===== PAGE ===== */
/* Prevent horizontal scroll everywhere */
html, body {
  overflow-x: hidden;
  max-width: 100%;
}

body {
  margin: 0;
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  background: linear-gradient(135deg, #e8edf5, #f7faff);
}

/* ===== TOP BAR ===== */

.topbar {
  background: linear-gradient(90deg, #1f2a44, #2e3d63);
  color: white;
  padding: 18px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.topbar button {
  background: white;
  border: none;
  padding: 8px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.topbar button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* ===== CARDS ===== */

.cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 18px;
  padding: 24px;
}

.card {
  flex: 1 1 220px;
  background: white;
  border-radius: 16px;
  padding: 22px;
  text-align: center;

  box-shadow:
    0 2px 6px rgba(0, 0, 0, 0.05),
    0 10px 24px rgba(0, 0, 0, 0.08);

  transition: 0.25s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
}

.card h3 {
  color: #666;
  font-weight: 600;
}

.card p {
  font-size: 32px;
  font-weight: bold;
  margin-top: 10px;
  color: #1f2a44;
}

/* ===== CHARTS ===== */

/* Charts layout */
.charts {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
  padding: 24px;
}

/* Chart card */
.chartCard {
  background: white;
  border-radius: 16px;
  padding: 43px;
  box-shadow:
    0 2px 6px rgba(0, 0, 0, 0.05),
    0 10px 24px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
}

.chartCard h3 {
  margin: -13px 0 15px 0px;
  padding: 0;
  font-size: 20px;
  line-height: 1.2;
}

.smallChart h3,
.chartCard h3 {
  margin: 0 0 0px 0;
}

.bigChart h3,
.chartCard h3 {
  margin: -5px 0 0px 0;
}


/* Increase height */
.bigChart {
  height: 460px;
}

.smallChart {
  height: 460px;
}

/* Canvas fits perfectly */
.chartCard canvas {
  flex: 1;
  width: 100% !important;
  height: 100% !important;
}

/* ===== TABLE ===== */

.tableSection {
  padding: 24px;
  overflow-x: auto;
}

table {
  width: 100%;
  min-width: 300px;
  background: white;
  border-collapse: collapse;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

th,
td {
  padding: 14px;
  text-align: left;
}

th {
  background: linear-gradient(90deg, #1f2a44, #2e3d63);
  color: white;
}

tr:hover {
  background: #f5f8ff;
}

@media (max-width: 1000px) {

  .charts {
    grid-template-columns: 1fr;
    padding: 12px;
  }

  .chartCard {
    padding: 18px;
    width: 100%;
  }

  .bigChart,
  .smallChart {
    width: 100%;
    height: 340px;
  }

  .bigChart canvas,
  .smallChart canvas {
    margin: 0 !important;
  }
}

@media (max-width: 600px) {

  .topbar {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

}
