body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
}

.cart-header {
  background: #0f172a;
  color: white;
  padding: 15px 20px;
}

.cart-page {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.cart-items {
  flex: 3;
  background: white;
  padding: 15px;
}

.cart-item {
  display: flex;
  gap: 15px;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.cart-info h4 {
  margin: 0 0 5px;
}

.cart-qty button {
  padding: 4px 8px;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.remove {
  background: none;
  border: none;
  padding: 2px 8px;
  color: red;
  cursor: pointer;
  position: relative;
  left: 106px;
  bottom: 24px;
  font-size: 15px;
}

.cart-summary {
  flex: 1;
  background: white;
  padding: 15px;
  height: fit-content;
  border: 1px solid #ddd;
}

.note-box {
  width: 91%;
  padding: 10px 12px;
  margin: 6px 0 10px 0px;
  border-radius: 10px;
  
  border: 1px solid #d1d5db;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

  color: #000000;
  font-size: 14px;
  outline: none;
  transition: all 0.25s ease;
  background: #fff;
}

.note-box::placeholder {
  color: #94a3b8;
}

.note-box:focus {
  border-color: #22c55e;
  box-shadow: 0 0 0 3px rgba(34, 197, 94, 0.25);
  background: #f9fffb;
}

.checkout-btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #25d366;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}
