body {
  font-family: Arial, sans-serif;
  background: #020617;
  margin: 0;
}

.cart-header {
  background: linear-gradient(135deg, #020617,#1e293b);
  color: white;
  padding: 15px 20px;
}

.cart-page {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.cart-items {
  flex: 3;
  background: #031525;
  color: rgb(255, 255, 255);
  padding: 15px;
}

.cart-item {
  display: flex;
  gap: 15px;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.cart-info h4 {
  margin: 0 0 5px;
}

.cart-qty button {
  padding: 4px 8px;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.remove {
  background: none;
  border: none;
  padding: 2px 8px;
  color: red;
  cursor: pointer;
  position: relative;
  left: 106px;
  bottom: 24px;
  font-size: 15px;
}

.cart-summary {
  flex: 1;
  background: #031525;
  padding: 15px;
  height: fit-content;
  border: 1px solid #031525;
  color: white;
}

.note-box {
  width: 91%;
  padding: 10px 12px;
  margin: 6px 0 10px 0px;
  border-radius: 10px;
  font-size: 14px;
  
  border: 1px solid #334155;
  background-color: #0f172a;
  color: #f8fafc;
  outline: none;
  transition:
    border-color 0.2s,
    box-shadow 0.2s;
}

.note-box::placeholder {
  color: #94a3b8;
}

.note-box:focus {
  border-color: #22c55e;
  box-shadow: 0 0 0 3px rgba(34, 197, 94, 0.25);
}

.checkout-btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #25d366;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

/* ☀️ LIGHT MODE */
body.light {
  background: #ffffff;
  color: #020617;
}

body.light .cart-header{
  background: #8cc5ff;
  color: #020617;
}

body.light .cart-page {
  background: white;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

body.light .cart-items{
  background-color: #cae5ff;
  color: #020617;
}

body.light .cart-summary{
  background-color: #8cc5ff;
  color: #020617;
}

body.light input{
  background: #ffffff;
  color: #020617;
  border: 1px solid #cbd5f5;
}

body.light .note-box:focus {
  border-color: #000000;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0);
}

body.light .checkout-btn{
  background: #0f172a;
}