/* loggedin.css */
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 0.3s background-color ease;
}

body.light {
  background-color: #f0f0f0;
  color: #111;
}

.container {
  text-align: center;
  position: relative;
}

.login-box {
  background: rgba(30, 41, 59, 0.95);
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  min-width: 300px;
}

body.light .login-box {
  background: #ffffff;
  color: #111;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.welcome h2 {
  margin-bottom: 15px;
}

.welcome p {
  margin: 5px 0;
  font-size: 1.1rem;
}

#logoutBtn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #dc2626;
  color: white;
  transition: 0.3s all ease;
}

#logoutBtn:hover {
  background-color: #b91c1c;
}

#themeToggle {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #1f2937;
  color: white;
  transition: 0.3s all ease;
}

body.light #themeToggle {
  background-color: #e5e7eb;
  color: #111;
}

#themeToggle.rotate {
  transform: rotate(360deg);
}

.back-btn {
  position: fixed;
  top: 20px;
  left: 20px;

  display: flex;
  align-items: center;
  gap: 8px;

  padding: 8px 16px;
  border-radius: 25px;

  text-decoration: none;
  font-size: 14px;
  font-weight: 500;

  color: white;
  border: 2px solid #1ecfff;
  background: transparent;


  transition: 0.3s ease;
  z-index: 1000;
}

.back-btn i {
  font-size: 14px;
}

.back-btn:hover {
  background: #1ecfff;
  color: black;
  box-shadow: 0 0 20px #1ecfff;
  transform: translateY(-2px);
}

#orderList {
  margin-top: 15px;
  max-height: 400px;
}

.order-item {
  background: rgba(255,255,255,0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}