* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* Background */
/* Background Image */
body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("login_image.jpg") no-repeat center center/cover;
}

/* Login Card */
.login-box {
  position: relative;
  z-index: 1;
  width: 90%;
  max-width: 350px;
  padding: 40px 30px;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: white;
}

/* Heading */
.login-box h2 {
  margin-bottom: 25px;
}

/* Form Layout */
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Input Box Wrapper */
.input-box {
  position: relative;
}

/* Inputs */
.input-box input{
    width:100%;
    padding:12px 40px 12px 15px;
    border-radius:25px;
    outline:none;

    background: rgba(255,255,255,0.1);  /* Transparent glass */
    border: 1px solid rgba(255,255,255,0.3);
    color: white;
}

.input-box input::placeholder{
    color: rgba(255,255,255,0.8);
}

/* Icons */
.input-box i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

/* Button */
button {
  padding: 12px;
  border: none;
  border-radius: 25px;
  background: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #eee;
}
