* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body::before {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

@keyframes popUp{
  to{
    transform: scale(1);
    opacity: 1;
  }
}

.login-box {
  height: 600px;
  width: 850px;
  background-image: linear-gradient(50deg, black 62%, #2596be 40%);
  box-shadow: 0px 2px 27px 7px #2596be;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0.8);
  opacity: 0;
  animation: popUp 0.6s ease forwards;
}

.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0px;
  width: 500px;
}

/* Heading */
.login-box h2 {
  color: white;
  margin-bottom: 25px;
}

/* Form Layout */
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 350px;
}

/* Inputs */
/* Input Wrapper */
.input-box {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}

/* Input Field */
.input-box input {
  width: 100%;
  padding: 10px 35px 10px 5px;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(255,255,255,0.4);
  outline: none;
  color: white;
  font-size: 15px;
  transition: 0.3s ease;
}

/* Placeholder */
.input-box input::placeholder {
  color: rgba(255,255,255,0.6);
}

/* Focus Effect */
.input-box input:focus {
  border-bottom: 2px solid #1ecfff;
  box-shadow: 0 8px 10px -8px #1ecfff;
}

/* Icon */
.input-box i {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255,255,255,0.7);
  font-size: 14px;
  transition: 0.3s ease;
}

/* Icon Glow on Focus */
.input-box input:focus + i {
  color: #1ecfff;
}

/* Button */
button {
  width: 100%;
  padding: 12px 0;
  border-radius: 30px;
  border: 2px solid #1ecfff;
  background: linear-gradient(#2596be 80%,black 20%);
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
  animation: pulseGlow 2s infinite alternate;
}

button::before{
  content: "";
  position: absolute;
  top: 2px;
  left: 10%;
  width: 80%;
  height: 40%;
  background: linear-gradient(to bottom, rgba(255,255,255,0.4), transparent);
  border-radius: 30px;
}

button {
  box-shadow:
    0 0 10px #1ecfff,
    inset 0 0 8px rgba(30, 207, 255, 0.6);
}

button:hover{
  background: linear-gradient(black 5%,#2596be 95%);
  transform: translateY(-3px);
  box-shadow:
    0 0 20px #1ecfff,
    inset 0 0 12px rgba(30, 207, 255, 0.9);
}

.left-side{
  display: flex;
  align-items: center;
  position: absolute;
  right: 60px;
  width: 200px;
  top: 200px;
}

.left-side h1{
  color: white;
  font-size: 45px;
}