body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #020617;
  color: #e5e7eb;
}
header {
  background: linear-gradient(135deg, #1e293b, #020617);
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}
header h1 {
  margin: 0;
}
header p {
  margin: 5px 0 0;
  font-size: 14px;
}

.container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.product {
  background: #031525;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
  position: relative;
  display: flex;
  flex-direction: column;
}

.badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #dc2626;
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 6px;
}
.price-row {
  display: flex;
  align-items: flex-start;
  gap: 6px;
}

.new-price {
  font-size: 20px;
  font-weight: bold;
  color: #22c55e;
}

.rs {
  font-size: 14px;
  vertical-align: super;
}

.old-price {
  font-size: 12px;
  color: #9ca3af;
  text-decoration: line-through;
  position: relative;
  top: 8px; /* pushes it down = subscript effect */
}

.offer {
  font-size: 13px;
  color: #facc15;
  position: relative;
  top: 6px;
}

.product img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  border-radius: 10px;
  background-color: #2f3034;
}

.product h2 {
  margin: 10px 0 5px;
  color: #e5e7eb;
}
.product p {
  font-size: 14px;
  color: #9ca3af;
}

.stock {
  font-size: 13px;
  color: #facc15;
  margin-bottom: 10px;
}

.note-box {
  width: 91%;
  padding: 10px 12px;
  margin: 6px 0 10px 0px;
  border-radius: 10px;
  
  border: 1px solid #334155;
  background-color: #0f172a;
  color: #f8fafc;
  font-size: 14px;
  outline: none;
  transition:
    border-color 0.2s,
    box-shadow 0.2s;
}

.note-box::placeholder {
  color: #94a3b8;
}

.note-box:focus {
  border-color: #0af7db;
  box-shadow: 0 0 0 2px rgba(34, 197, 94, 0.25);
}

.qty-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: auto 0px 10px 0px;
}

.qty-btn {
  width: 34px;
  height: 34px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background: #1f2933;
  color: #e5e7eb;
}

.qty-btn:hover {
  background: #374151;
}

.qty {
  font-size: 16px;
  font-weight: bold;
  min-width: 20px;
  text-align: center;
}

.btn {
  display: block;
  text-align: center;
  padding: 12px;
  background: #14b8a6;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  margin-top: auto;
}

.btn:hover {
  background-color: #0d9488;
}

footer {
  text-align: center;
  padding: 15px;
  font-size: 13px;
  color: #9ca3af;
}
