div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid black;
    position: absolute;
    top: 100px;
    left: 100px;
    /* transition: all;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-delay: 1s; */
    /* transition: all 2s ease-in 0.2s; */
    /* transform: rotate(180deg); */
    /* transform: scale(2); */
    /* transition: all 2s ease-in; */
    /* animation-name: colorAnimate;
    animation-duration: 2s; */
    /* animation-timing-function: ease-in; */
    /* animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse; */
    animation: colorAnimate 1s ease-in 0.2s infinite normal;
}

@keyframes colorAnimate{
    0%{ 
        left: 0px;
        background-color: red;
    }
    50%{
        background-color: green;
    }
    100% {
        left: 200px;
        background-color: blue;
     }
}

/* div:hover{
    background-color: red;
    color: white;
    font-size: 19px; 
    transform: scaleX(2);
    transform: scaleY(3);
    rotate: 360deg;
    transform: translate(100px,80px);
    transform: skew(60deg);
} */

div:active{
    background-color: pink;
}