@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
}

header{
    height: 200px;
    width: 1215px;
    background-color: black;
    /* visibility: hidden; */
}

.main{
    display: flex;
}

.red{
    background-color: red;
    height: 50vh;
    width: 20vw;
    /* display: none; */
}

.green{
    background-color: green;
    height: 50vh;
    width: 20vw;
}

footer{
    font-size: 100px;
    color: white;
    background-color: black;
    font-family: 'Poppins',sans-serif;
    text-transform: uppercase;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;

}