*{
    margin: 0;
    padding:0;
}

header{
    border: 2px solid white;
    height: 66px;
    background-color: black;
    color: white;
}

.content{
    background-color: red;
    height: 90vh;
    padding: 33px;
    margin: 34px;
}

footer{
    background-color: rebeccapurple;
    margin: 23px;
}

.center{
    text-align: center;
}