*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
}

nav{
    display: block;
    justify-content: center;
    align-items: center;
}

.nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: darkblue;
}

.nav ul{
    list-style: none;
    display: flex;
    color: white;
    width: 100%;
}

.nav ul li{
    display: flex;
    text-align: center;
    padding: 0 100px;

}

.nav ul li a{
    display: flex;
    color: white;
    text-decoration: none;
}

.nav ul li a:hover{
    font-weight: bolder;
    font-size: 18px;
}

main{
    display: block;
    background-color:red;
}

.main-content {
      background-color: #8B0000; /* Dark red */
      color: white;
      padding: 40px;
      min-height: 300px;
    }

.img{
    width: 150px;
    height: 150px;
    background-image: url(../IMG\ 2.jpg); /* Replace with your image URL */
    background-size: cover; /* Ensures the image covers the div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
}

.non-scroll{
    background-color: red;
    height: 1800px;
    aspect-ratio: 9/16;
    display: flex;
    justify-content: center;
}

img{
    position: fixed;
}
.test{
    height: 500px;
    width: 100px;
    background: black url(../IMG4.jpg)no-repeat fixed right ;
    background-size: cover;
}