*{
    padding: 0;
    margin: 0;
    color: white;
}

#main{
    height: 60px;
    background-color: #0f1111;
    border: 5px solid #f08804;
}


button{
    background-color: #f08804;
    color: white;
}

#logo{
    color: #f08804;
    font-size: 25px;
}

a{
    margin-right: 150px;
    text-decoration: none;
}

.contentBox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
    text-align: center;
    padding: 65px;
    font-size: 25px;
}

#content{
    height: 1205px;
    text-align: center;
    
}


footer{
    background-color: #0f1111;
    color: white;
    text-align: center;
}