*{
    padding: 0;
    margin: 0;
    color: white;
}

h1{
    text-align: center;
}


#main{
    margin-left: 46%;
    background-color: black;
    width: 100px;
}

#one{
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
    background-color: #ff0000;
    border-radius: 50%;
}

#two{
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
    background-color: yellow;
    border-radius: 50%;
}

#three{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
}

#main2{
    background-color: #0f1111;
    height: 60px;
}

a{
    text-decoration: none;
    margin-right: 200px;
}

#logo{
    font-size: 25px;
    color: #f08804;
}


#search{
    color: black;
}

#btn{
    background-color: #f08804;
    color: white;
}