/* body{
    text-align: center;
}

div{
    height: 100px;
    width: 200px;
    display: inline-block;
    border: 2px solid black;
}

#container{
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* align-items: flex-start; */
    /* align-content: flex-start;
}

#box1{
    background-color: aqua;
    flex-grow: 1;
}

#box2{
    background-color: pink;
    height: 200px;
    align-self: flex-start;
    flex-shrink: 1;
}

#box3{
    background-color: darkkhaki;
    height: 75px;
}

#box4{
    background-color: indianred;
}

#box5{
    background-color: slateblue;
} */

div{
    height: 50px;
    width: 50px;
    background-color: pink;
}

@media(width:600px){
    div{
        background-color: red;
    }
}

@media(min-width: 600px){
    div{
        background-color: green;
    }
}

@media(min-width:200px) and (max-width:600px){
    div{
        background-color: blue;
    }
}