*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    position: absolute;
    top: 35%;
    left: 35%;
}

.card{
    width: 400px;
    aspect-ratio: 1 / 0.7;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}

.card .img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.card .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 90%;
    border-radius: inherit;
    transition: 0.5s ease-in-out;
}

.card::after{
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid white;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.card:hover img{
    filter: grayscale(1) brightness(0.4);
} 

.card:hover::after{
    opacity: 1;
    inset: 20px;
}

.msg-box{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

h2{
    margin: 12px;
}

.card:hover .msg-box {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.3s;
}

.msg-box p {
    margin: 0;
    font-size: 16px;
}

