@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=New+Tegomin&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Ubuntu&family=Varela+Round&display=swap');

*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("./img/bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    position: absolute;
    top: 130px;
    right: 427px;
    font-size: 49px;
    font-weight: bold;
    font-family: "New Tegomin", serif;
}

#highscoreBox{
    position: absolute;
    top: 55px;
    right: 427px;
    font-size: 49px;
    font-weight: bold;
    font-family: "New Tegomin", serif;
}

#board {
    background: linear-gradient(rgb(170, 236, 167), rgb(236, 236, 167));
    width: 75vmin;
    height: 90vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background:linear-gradient(red, yellow);
    border: 2px solid purple;
    transform: scale(1.02);
    border-radius: 9px;
}

.snake{
    background-color: purple;
    border: .28vmin solid white;
    border-radius: 12px;
}

.food{
    background: linear-gradient(red,purple);
    border: .25vmin solid black;
    border-radius: 15px;
}